.header {
  margin: 0 2.5rem;
  padding: 2.5rem 0;
  align-items: center;
  display: flex;
  height: 5rem; /* Adjusted height for desktop */
}

.headerLeft {
  display: flex;
  align-items: center;
}

.headerRight {
  display: flex;
  align-items: center;
  margin-left: auto; /* Move to the right side */
}

a > span {
  margin: 0 15px; /* Adjusted margin for spacing */
  font-size: 1.2rem; /* Adjusted font size */
  cursor: pointer;
  color: white;
  transition: color 0.3s ease; /* Smooth color transition on hover */
}

a > span:hover {
  color: red;
}

.header__icon {
  width: 100px; /* Set your desired width */
  height: 80px; /* Set your desired height */
  cursor: pointer;
}

.user__avatar {
  font-size: 2rem;
}

.header__cartIcon {
  height: 30px; /* Adjusted height for cart icon */
  object-fit: contain;
  cursor: pointer;
  transition: opacity 0.3s ease; /* Smooth opacity transition on hover */
}

.header__cartIcon:hover {
  opacity: 0.8;
}

.header__login {
  margin-left: 20px; /* Adjusted margin for spacing */
  font-size: 1.2rem; /* Adjusted font size */
  cursor: pointer;
  color: white;
}

/* Mobile Styles */
@media (max-width: 844px) {
  .header {
    flex-direction: column;
    padding: 1.5rem 0;
    height: auto;
  }

  .headerLeft,
  .headerRight {
    margin: 0;
    padding: 0.5rem 0;
    width: 100%;
    justify-content: center;
  }

  .header__icon {
    width: 60px; /* Adjusted width for icon on mobile */
    height: auto; /* Allow height to adjust automatically */
    margin-bottom: 1rem; /* Add margin between icon and other elements */
  }

  .user__avatar {
    font-size: 1.5rem; /* Adjusted font size on mobile */
  }

  .header__cartIcon {
    height: 20px; /* Adjusted height for cart icon on mobile */
  }
}
