.header {
  margin: 0 2.5rem;
  padding: 2.5rem 0;
  align-items: center;
  display: flex;
  height: 5px;
}

.headerLeft, .headerRight {
  display: flex;
  align-items: center;

}

a > span{
  margin: 0 30px;
  font-size: 1.3rem;
  cursor: pointer;
  color: white;
}

a > span:hover {
  color: red;
}

.header__icon {
  width: 80px;
  cursor: pointer;
}

.user__avatar {
  font-size: 2rem;
}

.headerRight {
  display: flex;
  align-items: center;
}

.header__cartIcon {
  height: 40px;
  object-fit: contain;
  cursor: pointer;
}

.header__cartIcon:hover {
  opacity: 0.8;
}
h1{
  color: white;
  font-size: medium;
  margin-left: 740px;
  padding-right: 0.5rem;
}
h2 {
  color: white;
  font-size: medium;
}